html {
	height: 100%;
}

body {
	background-size: cover;
	background-position: center;
	font-family: Lato;
	
}

input[type=text]{
	margin-left: 10px;
	border-radius: 10px ;
	border:none;
	height:30px;
	padding-left: 20px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

input[type=text].head{
	margin-left: 10px;
	border-radius: 14px ;
	border:none;
	height:30px;
	padding-left: 20px;
	background-image: linear-gradient(135deg, #f5f7fa 100%, #c3cfe2 0%);

}

button{
	margin-left: 10px;
 	border: 2px solid #2a2b2b9e;
    border-radius: 18px;
    color: #252626;
    background: #ffffffbd;
    font-style: bold;
    padding:5px;
}

button:hover{
 	box-shadow: 1px 3px #888888;
 	text-shadow: 3px 1px #251e8a34;
 	font-weight: 400px;
 	transition: none;
 	color:#333436;
 	color:black;
 }


button:focus{
  outline:none;
  border:1.5px solid rgba(81, 203, 238, 1);
  border-radius: 15px;
}